html, body {
    min-height: 100vh;
    width: 100vw;
    margin: 0;
    font-family: var(--normal-font);
}

:root {
    --label-font: 'Comfortaa', cursive;
    --normal-font: 'Roboto', sans-serif;
    --label-weight: 100;
    --icon-size: 2rem;
    --blue-theme: linear-gradient(45deg, #007eff, #00adff);
    --blue-theme-reverse: linear-gradient(45deg, #00adff, #007eff);
    --low-green: rgb(197, 255, 197);
    --medium-yellow: rgb(254, 255, 165);
    --high-red: rgb(241, 168, 217); 
}

.content {
    display: flex;
    height: 100vh;
}

.projects {
    padding-left: 0;
}

#app-name {
    margin-left: 5px;
    font-family: var(--label-font);
}

.left-bar {
    display: flex;
    flex-direction: column;
    height: 100vh;
    width: 250px;
    color: white;
    background: var(--blue-theme);
    transition: width 500ms;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 50px;
    margin: 10px 0;
    font-size: 1.1rem;
    font-family: var(--label-font);
    font-weight: var(--label-weight);
    cursor: pointer;
    transition: background 200ms;   
}

.nav-item:hover {
    background: rgba(0, 0, 0, 0.1);
}

.nav-icon {
    padding-left: 35px;
    min-height: 2rem;
    min-width: 2rem;
    font-size: var(--icon-size);
}

.nav-title {
    margin: 0 10px;
    flex-grow: 1;
    transition: visibility 300ms;
}

.nav-count {
    margin: 0 10px;
    font-size: 1rem;
    transition: visibility 300ms;
}

.add-project {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: auto;
    margin-bottom: 30px;
}

#add-project-button {
    padding-left: 0;
    transition: transform 200ms;
}
#add-project-button:hover,
#add-item-button:hover,
.prioritize-item:hover,
.delete-item:hover {
    transform: scale(1.3);
}

.main-content {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.search-container {
    display: flex;
    align-items: center;
}

#search-icon {
    margin: 0 5px;
    position: absolute;
    opacity: 0.3;
    font-size: 1.3rem;
}

#search-bar {
    padding: 5px 20px 5px 30px;
    width: 100%;
    border: none;
    background: #f8f8f8;
    font-size: 1.2rem;
    transition: padding 300ms, background 300ms;
}

#search-bar:focus {
    padding: 20px 20px 20px 30px;
    background: #f1f1f1;
}

.list-head {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    border-bottom: 2px solid rgba(0, 0, 0, 0.1);
    font-family: var(--label-font);
    font-size: 1.5rem;
    color: var(--blue-theme);
}

#add-item-button {
    font-size: var(--icon-size);
    transition: transform 200ms;
}

.list-items-container {
    display: flex;
    flex-direction: column;
}

.list-items {
    margin: 0;
    padding: 0;
}

.item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.item.priority-low {
    border-left: 5px solid rgb(197, 255, 197);
}

.item.priority-medium {
    border-left: 5px solid rgb(254, 255, 165);
}

.item.priority-high {
    border-left: 5px solid rgb(241, 168, 217);
}

.item-details {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.check-box {
    min-height: var(--icon-size);
    min-width: var(--icon-size);
    font-size: var(--icon-size);
    padding-right: 20px;
    opacity: 0.1;
    transition: opacity 200ms ease-in;
}

.check-box:hover {
    opacity: 1;
    transition: opacity 200ms ease-in;
}

.item-actions {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.prioritize-item,
.delete-item {
    padding: 0 10px;
    font-size: 1.5rem;
    transition: transform 200ms;
}

.prioritize-item {
    color: rgb(228, 228, 158);
}

.delete-item {
    color: rgb(255, 35, 182);;
}

.list-item-form-container {
    display: none;
    position: fixed;
    background: rgba(0, 0, 0, 0.3);
    min-height: 100%;
    min-width: 100%;
    justify-content: center;
    align-items: center;
}

.show {
    display: flex;
}

.list-item-form {
    position: relative;
    min-height: 450px;
    min-width: 400px;
    background: white;
    border-radius: 1%;
    transition: min-height 200ms, min-width 200ms;
    display: flex;
    flex-direction: column;
}

.input-wrapper {
    display: flex;
    flex-direction: column-reverse;
    margin: 10px 20px;
}


.form-head {
    font-family: var(--label-font);
    margin: 0;
    padding: 10px 20px 10px 20px;
    color: white;
    background: var(--blue-theme-reverse);
}

.new-todo-form {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
}

input[type='date'],
.input-wrapper textarea {
    font-family: var(--normal-font);
}

.form-label,
#priority-label {
    margin-bottom: 5px;
    font-size: 0.8rem;
    font-family: var(--label-font);
    transition: font-size 200ms;
}

.input-wrapper input:focus + .form-label,
.input-wrapper textarea:focus + .form-label {
    font-size: 1rem;
}

#todo-notes {
    height: 80px;
    resize: none;
    font-size: 0.7rem;
    transition: height 200ms;
}

#todo-notes:focus {
    height: 100px;
}

.priority-radio-wrapper {
    align-self: center;
    padding-top: 20px;
    width: 80%;
    display: flex;
    justify-content: space-between;
}

input[type="radio"] {
    position: absolute;
    -webkit-appearance: none;
}

input[type="radio"]:checked + label {
    opacity: 1;
}

.radio-label {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20px;
    width: 70px;
    opacity: 0.4;
    font-family: var(--label-font);
    font-size: 0.7rem;
    transition: opacity 500ms;
}

.radio-label.low {
    background: var(--low-green);
    border: 0.5px solid rgb(0, 189, 0);
}

.radio-label.medium {
    background: var(--medium-yellow);
    border: 0.5px solid rgb(218, 203, 0);
}

.radio-label.high {
    background: var(--high-red);
    border: 0.5px solid rgb(202, 0, 101);
}

.submit-todo {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    flex-grow: 1;
}

#add-button {
    height: 40px;
    width: 100%;
    border: none;
    color: white;
    background: var(--blue-theme-reverse);
    margin-top: auto;
    font-family: var(--label-font);
}

@media only screen and (max-width: 700px) {   
    .left-bar {
        width: 100px;
    }

    .nav-title, .nav-count {
        visibility: hidden;
    }

    .list-item-form {
        min-height: 350px;
        min-width: 300px;
    }

    #todo-notes {
        height: 30px;
    }
    
    .radio-label {
        width: 55px;
        transition: transform 200ms;
    }

    .priority-radio-wrapper {
        padding-top: 0;
        width: 90%;
    }
}

@media only screen and (max-width: 450px) {
    .content {
        flex-direction: column;
    }

    .projects {
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0;
        flex-grow: 1;
    }

    .nav-item,
    .add-project {
        margin: 0;
    }

    #add-project-button {
        padding: 0;
    }

    .left-bar {
        justify-content: center;
        align-items: center;
        height: fit-content;
        width: 100%;
        order: 1;
    }
    
    .add-project {
        margin-top: 10px;
    }

    .nav-icon {
        padding: 0 20px;
    }

    #app-name,
    .nav-title,
    .nav-count {
        display: none;
    }

    .item-actions {
        flex-direction: column;
    }
}
